<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <appSettings>
    <add key="DraftKingsRoster" value="C:\Users\raymond\Desktop\testing\lineup.csv"/>

    <add key="MySportsFeed.User" value=""/>
    <add key="MySportsFeed.Password" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="MonkeyFist" connectionString="" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>
